<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Mapa de Notea
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <!---<button ion-button full icon-left (click)="startTracking()" *ngIf="!isTracking">
   <ion-icon name="locate"></ion-icon>
   BUSCAR
 </button>
  <button ion-button full icon-left (click)="stopTracking()" *ngIf="isTracking">
    <ion-icon name="hand"></ion-icon>
    DETENER
  </button>
  
  <div #map id="map"></div>
  <ion-list>
    <ion-list-header>Previus Tracks</ion-list-header>
    <ion-item *ngFor="let route of previusTracks">
      {{route.finished | date}}, {{route.path.length}} Waypoints
      <button ion-button clear iten-end (click)="showHistoryRoute(route.path)">View Route</button>
    </ion-item>
  </ion-list>-->
 <ion-img *ngIf="this.image" [src]="this.image"></ion-img>
</ion-content>
